@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Data;
@*@model DataTable*@
@*@{
        Layout = null;
    }*@
@model IEnumerable<ListaArtesanal.Models.Medicamento>

@{
    ViewData["Title"] = "IndexVer";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <style>
        .upload-boximport {
            font-size: 19px;
            color:white;
            background: #ff6a10;
            border-radius: 7px;
            border:none;
            width: 100px;
            height: 40px;
            outline: none;
        }

        .upload-box {
            font-size: 16px;
            background: white;
            border-radius: 5px;
           
            width: 300px;
            height: 40px;
            outline: none;
        }

        ::-webkit-file-upload-button {
            font-size: 19px;
            color: white;
            background: #ff6a10;
            padding: 6px;
            border: none;
            border-radius: 7px;
           
            outline: none;
        }

            ::-webkit-file-upload-button:hover {
                background: #ff6a10;
            }

        .upload-boximport:hover {
            background: #ff6a10;
        }
    </style>


 
        <h1>Abastecimiento de Medicamentos</h1><br /><br />
        <form asp-controller="Medicina" asp-action="Index" method="post" enctype="multipart/form-data">
            <input type="submit" class="upload-boximport" value="Import" />
            <input type="file" class="upload-box" name="postedFile" />
        </form>
   
    @if (Model != null)
    {
        <hr />
        @*<table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    @foreach (DataColumn dc in Model.Columns)
                    {
                        <th>@dc.ColumnName</th>
                    }
                </tr>
                @foreach (DataRow dr in Model.Rows)
                {
                    <tr>
                        @foreach (DataColumn dc in Model.Columns)
                        {
                            <td>@dr[dc.ColumnName]</td>
                        }
                    </tr>
                }
            </table>*@
    }

  

    <p>
        <!--a asp-action="Hacerpedido">Hacer nuevo Pedido</a-->
    </p>
    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Casa_Productora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Existencia)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Casa_Productora)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Existencia)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
</body>
</html>