@model IEnumerable<ListaArtesanal.Models.Medicamento>

@{
    ViewData["Title"] = "VerFarmacos";
    int pos;
}

<h1>Farmacos disponibles</h1>
<a asp-action="MenuPrincipal">Home</a>


<form action="VerFarmacos" method="post">
    <div class="input-group input-group-lg">
        <input type="type" name="Medicamento" value="" />
        <button>Buscar</button>
    </div>
</form>
@{int cant = Model.Count<Medicamento>();
    if (cant > 2)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Casa_Productora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Existencia)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Casa_Productora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Existencia)
                    </td>
                   
                </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @{Html.DisplayNameFor(model => model.id);}
                        
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Casa_Productora)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Existencia)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Casa_Productora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Existencia)
                    </td>
                    <td>
                        
                        <form>
                            @{pos =Convert.ToInt32(item.id) ;}
                            <button name="button" value="@pos" asp-action="Reabastecer">Reabastecer</button>
                        </form>

                    </td>


                </tr>
                }
            </tbody>
        </table>
        <p>
            <a asp-action="VerFarmacos">Ver Todos</a>
        </p>
    }
}